html,
body {
  height: 100%;
}
body {
  font-family: 'AvenirM', sans-serif;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 982px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-main {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100% !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
.container-fluid {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.section-title {
  font-family: 'AvenirL', sans-serif;
  text-align: center;
  margin: 0 auto;
  font-size: 36px;
}
.description {
  margin: auto;
  max-width: 810px;
  text-align: center;
}

.header {
  z-index: 999;
  &__content {
    padding: 12px 32px 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 74px;
  }
  &__logo {
    margin-right: 82px;
    width: 92px;
    height: 40px;
  }
  &__menu {
    display: flex;
    align-items: center;
    margin-right: auto;

    &-item {
      font-size: $fs-s;
      cursor: pointer;
      &:hover {
        font-weight: 600;
      }
      &:not(:first-child) {
        margin-left: 32px;
      }
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    &-phone {
      font-size: $fs-s;
      color: #000000;
    }
  }

  &__hero-content {
    color: #ffffff;
    padding-left: 60px;
    padding-bottom: 200px;
  }
  &__hero-slogan {
    @include AvenirL;
    font-size: 110px;
    line-height: 1.03;
    font-weight: bold;
    max-width: 720px;
    margin-bottom: 32px;
  }
  &__hero-description {
    max-width: 660px;
    font-size: 20px;
    line-height: 1.4;
  }
  &__hero-slider {
    position: relative !important;
  }
}
.footer {
  &__content{}
  &__footer-logo{}
  &__menu{}
  &__menu-item{}
  &__menu-links
}
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute !important;
  bottom: 11%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  button {
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 0;
    padding: 0;
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
  }
  li {
    margin: 0 8px;
  }
  .slick-active {
    button {
      background-color: #ffffff;
      width: 16px;
      height: 16px;
    }
  }
}
.btn {
  display: block;
  margin: 0 auto;
  padding: 22px 55px;
  border: 1px solid #f5a623;
  background-color: transparent;
  cursor: pointer;
  font-size: $fs-s;
  font-weight: 500;
  font-family: 'AvenirL', sans-serif;
}
